body {
  margin: 0;
  padding: 0;
  background-color: #4F759B;
  color: white;
}

h1 {
  position: absolute;

  top: 22vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: drop-shadow(5px 5px #000000);

}